body {
  margin: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #404041;
  font-family: Arial, sans-serif;
  overflow-y: hidden;
  overflow-x: hidden;
}

#game-container {
  position: relative;
  width: 750px;
  height: 550px;
  background-color: #34495e;
}

.tile {
  background-color: #306230;
}

.wall {
  background-color: #404041;
}

.breakable {
  background-image: url("/assests/src-game/Crate.png");
  background-size: cover;
  background-position: center;
}
#pause-menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 20px;
  text-align: center;
}

.hidden {
  display: none;
}

.tile .bomb {
  position: absolute;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  top: 10%;
  left: 10%;
  z-index: 10;
}

.tile {
  position: relative;
}
.square {
  position: absolute;
  width: 1100px;
  height: 1500px;
  background-color: rgb(181, 181, 182);
  transition: background-color 0.2s;
}
